
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from hencework.com/theme/jetson/full-width-light/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Nov 2017 05:06:17 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Jetson I Fast build Admin dashboard for any platform</title>
    <meta name="description" content="Jetson is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Jetson Admin, Jetsonadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- vector map CSS -->
    <link href="@Url.Content("~/Content/dist/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css")" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/dist/css/style.css")" rel="stylesheet" />
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    @RenderBody()
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/dist/vendors/bower_components/jquery/dist/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/dist/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/dist/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js")"></script>

    <!-- Slimscroll JavaScript -->
    <script src="@Url.Content("~/Content/dist/js/jquery.slimscroll.js")"></script>

    <!-- Init JavaScript -->
    <script src="@Url.Content("~/Content/dist/js/init.js")"></script>
</body>

<!-- Mirrored from hencework.com/theme/jetson/full-width-light/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Nov 2017 05:06:17 GMT -->
</html>
