@model NetCore.Models.EntitiesFramework.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.SiteId</title>
    <link rel="stylesheet" href="~/css/studio.min.css" />
</head>


<body class="photobooth_split_showcase_page">
    <div class="photobooth_preloader_wrapper">
        <div class="photobooth_preloader_content">
            <div class="loader-inner ball-pulse-sync">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="photobooth_header">

        <div class="row">

            <div class="col col-12 photobooth_def_header photobooth_left_logo">
                <div class="photobooth_logo_cont photobooth_white_logo">
                    <a href="/" class="photobooth_image_logo">

                    </a>
                </div>
                <div class="partialContents" data-url="@Url.Content("~/Home/GetMenuStudio")">
                    <img src="~/Content/dist/img/loading.gif" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="photobooth_left_logo mobile_header ">
                <a href="/" class="photobooth_image_logo photobooth_fullpage"></a>
                <a href="javascript:void(0)" class="btn_mobile_menu">
                    <span class="photobooth_menu_line1"></span>
                    <span class="photobooth_menu_line2"></span>
                    <span class="photobooth_menu_line3"></span>
                </a>
            </div>
        </div>
    </header>
    <div class="photobooth_split_showcase_wrapper">
        <div class="photobooth_split_showcase wait4load">
            @if (Model.PictureNavigation.Count >= 2)
            {
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_odd_slide1 photobooth_odd_slide photobooth_js_bg_image" data-count="1" data-src="@Model.PictureNavigation.ToList()[0].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption">&nbsp;</div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[0].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_even_slide1 photobooth_even_slide photobooth_js_bg_image" data-count="1" data-src="@Model.PictureNavigation.ToList()[1].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption">&nbsp;</div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[1].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
            }
            @if (Model.PictureNavigation.Count >= 4)
            {
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_odd_slide2 photobooth_odd_slide photobooth_js_bg_image" data-count="2" data-src="@Model.PictureNavigation.ToList()[2].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[2].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_even_slide2 photobooth_even_slide photobooth_js_bg_image" data-count="2" data-src="@Model.PictureNavigation.ToList()[3].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[3].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
            }
            @if (Model.PictureNavigation.Count >= 6)
            {
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_odd_slide3 photobooth_odd_slide photobooth_js_bg_image" data-count="3" data-src="@Model.PictureNavigation.ToList()[4].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[4].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_even_slide3 photobooth_even_slide photobooth_js_bg_image" data-count="3" data-src="@Model.PictureNavigation.ToList()[5].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[5].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>

            }
            @if (Model.PictureNavigation.Count >= 8)
            {
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_odd_slide4 photobooth_odd_slide photobooth_js_bg_image" data-count="4" data-src="@Model.PictureNavigation.ToList()[6].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[6].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_even_slide4 photobooth_even_slide photobooth_js_bg_image" data-count="4" data-src="@Model.PictureNavigation.ToList()[7].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[7].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
            }
            @if (Model.PictureNavigation.Count >= 10)
            {
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_odd_slide5 photobooth_odd_slide photobooth_js_bg_image" data-count="5" data-src="@Model.PictureNavigation.ToList()[8].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[8].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
                <div class="photobooth_split_slide photobooth_preload_slide photobooth_even_slide5 photobooth_even_slide photobooth_js_bg_image" data-count="5" data-src="@Model.PictureNavigation.ToList()[9].ImageUrl">
                    <div class="photobooth_split_title_wrapper">
                        <h2 class="photobooth_split_title">&nbsp;</h2>
                        <div class="photobooth_split_caption"></div>
                    </div>
                    <a class="swipebox" href="@Model.PictureNavigation.ToList()[9].ImageUrl" title=""></a>
                    <div class="photobooth_split_overlay"></div>
                </div>
            }
        </div>
        <a href="javascript:void(0)" class="photobooth_split_btn_prev"></a>
        <a href="javascript:void(0)" class="photobooth_split_btn_next"></a>
    </div>

    <script src="~/Content/studio/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/studio/js/jquery.swipebox.js"></script>
    <script src="~/Content/studio/js/jquery.mousewheel.js"></script>
    <script src="~/Content/studio/js/split_showcase.js"></script>

    <script src="~/Content/studio/js/site.js"></script>
</body>
</html>