@model NetCore.Models.EntitiesFramework.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row heading-bg">
    <!-- Breadcrumb -->
    <div class=" col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/Admin/Products"><span>Danh sách</span></a></li>
            <li class="active"><span>Tạo mới</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

@using (Html.BeginForm(
                null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thêm mới sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="CategoryId">Loại sản phẩm</label>
            <div class="col-md-5">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CategoryId">Tên sản phẩm</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ShortDescription">Mô tả ngắn</label>
            <div class="col-md-10">
                <textarea name="ShortDescription" class="" rows="4" cols="120"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FullDescription">Mô tả</label>
            <div class="col-md-10">
                <textarea name="FullDescription" class="summernote"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Price">Ảnh</label>
            <div class="col-md-5">
                <input type="file" class="dropify" name="filePicture" data-height="300" data-max-file-size-preview="3M"  data-max-file-size="3M"  />
                @Html.ValidationMessageFor(model => model.Picture , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Price">Giá</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="OldPrice">Giá cũ</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.OldPrice, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.OldPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ShowOnHomePage"></label>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.ShowOnHomePage, new { @class = "", @checked = "checked" })<label for="ShowOnHomePage">Hiển thị trang chủ?</label>
                @Html.ValidationMessageFor(model => model.ShowOnHomePage, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-offset-1 col-md-7">
                    <button type="submit" class="btn btn-space btn-success" c><i class="icon icon-left s7-diskette"></i>Thêm mới</button>
                    <button type="submit" class="btn btn-space btn-success" name="save-continue"><i class="icon icon-left s7-diskette"></i>Thêm mới và tiếp tục</button>
                    <a href="@Url.Content("~/Admin/Products")" class="btn btn-default">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
}
